/**************************************************************************
* polishedpages.css: Default stylesheet for the Polished Pages website.
**************************************************************************/

/*** Imports ***/
@import url("/static/css/reset.css");

/*** Background and other page-wide styling ***/

html
{
	height: 100%;
}

body
{
	background-color: #ffff88;
	color: #000000;

	font-size: 1.0em;
	font-family:Verdana,Geneva,'DejaVu Sans',sans-serif;
}

body > div, body > footer
{
	background-color: #faf9f0;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0.2em;
}

/*** Hyperlinks ***/

a
{
	text-decoration: none;
	color: #0000cc;
}

a:hover
{
	text-decoration: underline;
}

a:active
{
	color: #cc0000;
}

/*** Headers ***/

h1,h2,h3,h4
{
	font-family:'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif;
	margin-bottom: 1.0em;
}

h1
{
	font-size: 2.0em;
}

h2
{
	font-size: 1.75em;
}

h3
{
	font-size: 1.5em;
}

h4
{
	font-size: 1.25em;
}

/*** The footer ***/

footer#footer-main
{
	margin-top: 0.75em;
	font-size: 0.9em;
}

#copyright
{
	font-style: italic;
}

#copyright + *
{
	float: right;
}

/*** The Home Page ***/

header#home-header
{
	padding: 0.5em 1.0em;
	margin-bottom: 1.5em;
}

header#home-header > h1
{
	font-size: 3.0em;
	float: left;
	vertical-align: middle;
}

header#home-header > h2
{
	font-size: 1.25em;
	font-style: italic;
	vertical-align: middle;
	text-align: right;
}

header#home-header + section, header#home-header + article
{
	clear: both;
}
