{% extends "layouts/one_column.html" %}
{% block content %}
      <header id="home-header">
        <h1>Polished Pages</h1>
        <h2>
          The ultimate document draft manager for writers and editors
        </h2>
      </header>

      <article>
        <p>Hello, world! Welcome to Polished Pages.</p>

        {% if not user.is_authenticated %}
        <p>
          If you already have an account, you can log in
          <a href="{% url "login" %}">here</a>. If not, feel free to
          <a href="{% url "register" %}">register</a> a new account!
        </p>
        {% endif %}
      </article>
{% endblock %}
