{% extends "layouts/one_column.html" %}
{% load i18n %}

{% block header %}
      <header id="home-header">
        <h1>{% trans "Polished Pages" %}</h1>
        <h2>
          {% trans "The ultimate document draft manager for writers and editors" %}
        </h2>
      </header>
{% endblock %}

{% block content %}
      <article>
        <p>
          {% blocktrans %}
          Hello, world! Welcome to Polished Pages, the ultimate document draft
          manager for writers and editors. Our mission is to connect aspiring
          writers to willing editors to help generate more and better writing
          in a world in which quality no longer stands out as it should.
          {% endblocktrans %}
        </p>

        {% if not user.is_authenticated %}
        {% url "login" as login_url %}
        {% url "register" as register_url %}
        <p>
          {% blocktrans %}
          If you already have an account, you can log in
          <a href="{{ login_url }}">here</a>. If not, feel free to
          <a href="{{ register_url }}">register</a> a new account!
          {% endblocktrans %}
        </p>
        {% else %}
        {% url "logout" as logout_url %}
        <p>
          {% blocktrans %}
          Welcome! You are currently logged in. Click
          <a href="{{ logout_url }}">here</a> to log out.
          {% endblocktrans %}
        </p>
        {% endif %}
      </article>
{% endblock %}
