<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/polishedpages.css">
  </head>
  <body>
    {% block page_layout %}{% endblock %}
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
    <script type="text/javascript" src="/static/js/external/path.js"></script>
    {% block templates %}{% endblock %}
    {% block scripts %}{% endblock %}
    <script type="text/javascript">
    <!--
      (function (undefined) {
        {% block inlinescript %}{% endblock %}
      }());
    //-->
    </script>
  </body>
</html>
