{% extends "layouts/base.html" %}

{% block page_layout %}

    <div class="one_column">
      {% block header %}{% endblock %}

      {% if messages %}
      <aside class="messages">
        <ul>
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
          </li>
          {% endfor %}
        </ul>
      </aside>
      {% endif %}

      {% block content %}{% endblock %}
    </div>
    {% include "layouts/_footer.html" %}
{% endblock %}
